/* ======== Container ============= */

.navContainer{
    padding: 40px 0 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* ======== Logo ============= */

.logo{
    height: 40px;
}

.logo img{
    height: 100%;
}


/* ================== Navigation Bar ================ */

.navContainer ul{
    display: flex;
    flex-direction: row;
    margin: 0;
}

.navContainer li{
    margin: 0 0 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navContainer a{
    text-decoration: none;
    margin: auto 0 auto 0;
}