.bannerContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}


.bannerLeft{
    width: 45%;
    height: fit-content;
}

.bannerLeft h1{
    margin-bottom: 30px;
}

.bannerLeft p{
    margin-bottom: 30px;
}

.bannerLeft button{
    /* display: inline-block;
    padding: 1.375rem 2.625rem 1.375rem 2.625rem;
    border: 0.125rem solid red;
    border-radius: 50px;
    background-color: red;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s; */
}



.bannerRight{
    width: 45%;
    height: fit-content;
}

.bannerRight img{
    width: 100%;
}