.bannerContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}


.bannerLeft{
    width: 45%;
    height: fit-content;
}


.bannerRight{
    width: 45%;
    height: fit-content;
}

.bannerRight img{
    width: 100%;
}